* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style-type: none;
    border: none;
    /* border: red;
    border-style: solid; */
}

:root {
    --primary-color: #6CACE4;
    --secondary-color : #FFFFFF;
    --tertiary-color: #000000;
    --quaternary-color : #FFB81C;
    --quinary-color: #7D4016;
    --hover: #002f5c;
}

@font-face {
    font-family: "argentina";
    src: url(./Images/AdiCupQ2022.ttf);
}

/* Navbar et menu */
.headerNavbar {
    width: 100vw;
    background-color: var(--primary-color);

    .navbar {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        padding: 5px 32px;

        .logo {
            max-width: 50px;
        }

        h1 {
            font-family: "argentina";
            letter-spacing: 1pt;
            font-size: 32pt;
            color: var(--secondary-color);
            cursor: default;
        }
        .openbtn:hover {
            color: var(--hover);
        }
        .openbtn {
            font-size: 36pt;
            cursor: pointer;
            background-color: var(--primary-color);
            color: var(--secondary-color);
        }
    }
}

.sidepanel  {
    width: 0;
    position: fixed;
    z-index: 1;
    height: 100vh;
    top: 0;
    right: 0;
    background-color: var(--primary-color);
    opacity: 0.9;
    overflow-x: hidden;
    transition: 0.4s ease;
    padding-top: 60px;
  
    a {
        font-family: "argentina";
        font-size: 20pt;
        color: var(--secondary-color);
        display: block;
    }
    ul {
        padding-top: 24px;
    }
    ul li a {
        padding: 24px 32px;
    }
    ul li.active a {
        color: var(--hover);
    }
    a:hover {
        color: var(--hover);
    }
    .closebtn {
        position: absolute;
        top: 2px;
        right: 35px;
        font-size: 36pt;
        cursor: pointer;
      }
}
/* Fin navbar et menu */

/* Main */
main {
     .todos {
            width: 100vw;
            height: 350px;
            object-fit: cover;
            object-position: 50% 65%;
        }
        
    .articles {
        display: flex;
        flex-direction: column;
        padding: 48px;
        gap: 40px;

        img {
            width: 222px;
            height: 271px;
            padding: 8px 16px;
        }

        article {
            max-width: 1376px;
            max-height: 300px;
            border: 2px solid var(--primary-color);
            border-radius: 16px;
            box-shadow: 2px 5px #6cace47f;
            display: flex;
            justify-content: space-around;
            transition: transform .2s;
        }
        article:hover {
            transform: scale(1.02);
        }   
        .histoire img, .phenomene img, .avenir img {
                object-fit: cover;
            }
            .worldcup img {
                object-fit: contain;
            }
            .text {
                width: 50%;
                padding: 12px;
                cursor: pointer;
              
                h2 {
                    font-family: "argentina";
                    font-size: 14pt;
                    text-align: center;
                    padding-bottom: 8px;
                }
                p {
                    font-family: "Montserrat", sans-serif;
                    font-size: 12pt;
                    text-align: justify;
                    overflow:hidden;
                    line-height: 1rem;
                    max-height: 14rem;
                    -webkit-box-orient: vertical;
                    display: block;
                    display: -webkit-box;
                    text-overflow: ellipsis;
                    -webkit-line-clamp: 14;
                    }
                a {
                    color: var(--tertiary-color);

                }
                }
            }
}
    
/* Fin main */

/* Footer */
footer {
    background: var(--primary-color);
    color: var(--secondary-color);
    padding: 24px;
  
    .planSite {
        font-family: "argentina";
        font-size: 10pt;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
  }
    .titre {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        gap: 12px;
    }
    .logo {
        width: 40px;
    }
    .menuFooter, .menuScaloneta {
        display: flex;
        flex-direction: row;
        gap: 48px;
        justify-content: flex-start;
        align-items: last baseline;
    }  
    article {
        ul li {
            padding-bottom: 8px;
        }
        h2 a, ul li a {
            color: var(--secondary-color);
        }
        h2 a:hover, ul li a:hover {
            color: var(--hover);
          }
}
    p {
        font-family: "Poiret One", serif;
        font-size: 12pt;
        text-align: center;
        padding-top: 32px; 
    }
}
/* Fin footer */

/* // Computer (more than 1141px) */
@media (min-width: 1141px) {
    main {
        .articles {
            .histoire {
                background-image: url("./Images/background1.png");
                background-position: 50% 45%;
            }
           
            .worldcup {
                background-image: url("./Images/background2.png");
                background-size: cover;
                background-position: 50% 55%;
            }
            .phenomene {
                background-image: url("./Images/background3.png");
                background-size: cover;
                background-position: 50% 40%;
            }
            .avenir {
                background-image: url("./Images/background4.png");
                background-size: cover;
                background-position: 50% 35%;
            }
        }
    }
}

/* // Medium devices (tablets, less than 1140px) */
@media (max-width: 1140px) {
    .headerNavbar {
        .sidepanel {
            opacity: 1;

            a {
                font-size: 14pt;
            }
            .closebtn {
                font-size: 36px;
            }
        }
    }
    main {
        .articles {
            background-image: url("./Images/ballon.png");
            background-repeat: no-repeat;
            background-position: 130% 30%;
            padding: 24px 16px;
            gap: 24px;

            .mobile {
                display: none;
            }

                .text {
                    width: 60%;

                    p {
                        max-height: 12rem;
                        -webkit-line-clamp: 12;
                    }
                }
        }
    }
    footer {
        font-size: 8pt;

        .planSite {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 32px;
      }
    }
}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 768px) {
    .headerNavbar {
        .navbar {
            h1 {
                font-size: 24pt;
            }
    }
}
    main {
        .todos {
            height: 250px;
        }
        .articles {
            background-size: 80%;
            padding: 16px 8px;
            gap: 16px;

            img {
                width: 125px;
                height: 160px;
            }
            .text {
                h2 {
                    font-size: 12pt;
            }
                p {
                    font-size: 10pt;
                    max-height: 7rem;
                    -webkit-line-clamp: 7;
                    }
                }
            }
    }
    
}

/* // Very small devices (less than 450px) */
@media (max-width: 450px) {
    .headerNavbar {
        .navbar {
            h1 {
                font-size: 16pt;
            }
    }
}
    main {
        .todos {
            height: 150px;
        }
        
        .articles {
            .text {
                width: 40%;

                img {
                    width: 85px;
                    height: 110px;
                }
                h2 {
                    font-size: 9pt;
                }
                p {
                    font-size: 7pt;
                }
            }
            }
        
    footer {
        font-size: 6pt;
    }
}
}