* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    ul {
      list-style-type: none;
      }
    border: none;
}

@font-face {
  font-family: "primetime" ;
  src: url(./images_blackping/Primetime.ttf);
}

:root {
    --primary-color: #111111;
    --secondary-color : #D8D8D8;
    --lighter-primary-color: #303030;
    --blackpink : #EFA7B5;
    --euromillions : #EEBB05;
    --argentina : #6CACE4;
}

 

/* Style du header du site et NavBar */
.headerNavbar {
    object-fit: fill;
    height: 100vh;
    box-sizing: border-box;

    nav {
      display: none;
    }
  }


/* Style de main */
main {
  background: url(./images/bubble_pattern_v3_resize.jpg) repeat fixed;
  padding-top: 32px;
  padding-bottom: 16px;


  /* Style commun à toutes les sections */
    section {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;

        article {
            max-width: 1300px;         
            /* margin-top: 32px; */

            header {
                display: flex;
                align-items: center;

                h2 {
                font-family: "Poiret One", serif;
                color: var(--blackpink);
                letter-spacing: 2pt;
                font-weight: 600;
                margin: 20px;
                text-align: center;


                  &:after {
                    content: "";
                    box-sizing: border-box;
                    display: block;
                    position: relative;

                    top: 20px;
                    left: calc(-20% / 2);
                    background: var(--blackpink);
                    height: 1.5px;
                    width: 120%;
                  }
                }

                img {
                  border-radius: 150%;
                  box-shadow: 2px 2px 0px var(--blackpink);
                  object-fit: cover;

                  background: rgba(231, 231, 231, 0.4);
                }
            }
          
            font-family: "Montserrat", sans-serif;
            font-size: 12pt;

            p {
              padding-bottom : 8px;
              
              /* &:first-of-type {
              } */}
              
            :is(p, h3):first-of-type {
              margin-top: 32px;
            }


              /* &:last-of-type {
                margin-bottom: 45px;
                background: purple;
              } */
            
              #awards {     
                ul {
                  
                  list-style: disc inside;
      
                  }
              }

            }
          
        }

      section:first-of-type {
        article {
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          gap: 48px;

          img {
            min-width: 250px;
            height: 250px;
            object-fit: cover;
            border-radius: 100%;
            box-shadow: 2px 2px 8px var(--blackpink);
          }
          .content {
            display: flex;
            flex-flow: column nowrap;
          }
        }
      }
  /*Style des sections paires */
    section:nth-of-type(2n+2) {
          background: linear-gradient(0.45turn, var(--primary-color), var(--lighter-primary-color));
          color: var(--secondary-color);
          box-shadow: 0px 2px 4px var(--blackpink);
    }


    }
/* Fin style de main */


/* Ecran d'ordinateur*/
@media screen and (min-width: 1112px) {

  .headerNavbar {
    background: url(./images_blackping/blackpink9.jpg) 50% 20% no-repeat;
    background-size: cover;
  }

  main {

    section:first-of-type {
      padding-top: 0px;
    }

    section:last-of-type {
      padding-bottom: 0px;
    }
    
                                                                                  /* section:first-of-type {
                                                                                    article {
                                                                                      header {
                                                                                          flex-flow: column nowrap!important;
                                                                                          align-items: center;

                                                                                          img {
                                                                                            width: 300px;
                                                                                            height: 300px;
                                                                                          }
                                                                                      }
                                                                                    }
                                                                                  } */

    section {
      padding: 48px 32px;

      article {
        
        width: 80%;
        padding: 0px 32px;
        header {
          flex-flow: row nowrap;
          justify-content: space-around;

          h2 {
            font-size: 24pt;
          }

          img {
            width: 150px;
            height: 150px;
          }
        }

        #awards {
          column-count: 2;
          column-gap: 32px;
          /* column-rule: 1px solid var(--blackpink); */
          background: red;
          text-align: left;
        }

      }
    }

  

    section:nth-of-type(2n+1) { 
      article {
        header {
          flex-direction: row-reverse;
        }
      }
    }
  }
}
 

/* Ecran de tablette et téléphone */
@media screen and (max-width: 1111px) {

  .headerNavbar {
    background: url(./images_blackping/blackpink2.jpg) 50% 20% no-repeat;
    background-size: contain;
  }

  main {

    section:first-of-type {
      article {
        display: flex;
        flex-flow: column nowrap;
        gap: 24px;
        }
      }

    section {

      padding: 16px 32px;

      article {
        width: 100%;
        text-align: center;

        header {
          flex-flow: column nowrap;
          justify-content: center;

          h2 {
            font-size: 18pt;
          }

          img {
            max-width: 70px;
            height: 70px;
          }
        }

        #awards {
          column-count: 1;
          column-gap: 32px;
          /* column-rule: 1px solid var(--blackpink); */
          background: green;
        }
        
      }
    }
  }
}
  
/* Navbar responsive */
@media screen and (max-width: 982px) {}
/* Fin NavBar */

/* Footer */
footer {
  background: var(--lighter-primary-color);
  color: var(--secondary-color);
}

.menuBlackpink {
  order: -1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
/* Fin footer */