* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    ul {
      list-style-type: none;
      }
    border: none;
}

:root {
  --primary-color: #111111;
  --secondary-color : #D8D8D8;
  --lighter-primary-color: #303030;
  --blackpink : #EFA7B5;
  --euromillions : #EEBB05;
  --argentina : #6CACE4;
}


@font-face {
  font-family: "primetime" ;
  src: url(./images_blackping/Primetime.ttf);
}


@keyframes flicker {
  9%{
  text-shadow: 0 0 .5vh white, 0 0 .5vh white, 0 0 .5vh white, 0 0 .5vh white, 0 0 1vh white;;
  /* filter:brightness(1) */
  }
  10%{
    text-shadow:none;
   /* filter:brightness(.4); */
  }
  11%{
  text-shadow: 0 0 .5vh white, 0 0 .5vh white, 0 0 .5vh white, 0 0 .5vh white, 0 0 1vh white;;
  /* filter:brightness(1) */
  }
  12%{
    text-shadow:none;
   /* filter:brightness(.4); */
  }
  13%{
  text-shadow: 0 0 .5vh white, 0 0 .5vh white, 0 0 .5vh white, 0 0 .5vh white, 0 0 1vh white;;
  /* filter:brightness(1) */
  }
  66%{
  text-shadow: 0 0 .5vh white, 0 0 .5vh white, 0 0 .5vh white, 0 0 .5vh white, 0 0 1vh white;;
  /* filter:brightness(1) */
  }
  67%{
    text-shadow:none;
   /* filter:brightness(.4); */
  }
  75%{
    text-shadow:none;
   /* filter:brightness(.4); */
  }
  76%{
  text-shadow: 0 0 .5vh white, 0 0 .5vh white, 0 0 .5vh white, 0 0 .5vh white, 0 0 1vh white;;
  /* filter:brightness(1) */
  }
}

 

/* Style du header du site et NavBar */
.headerNavbar {
    object-fit: fill;
    height: 100vh;
    box-sizing: border-box;

    h1 {
      font-family: "primetime";
      font-size: 112pt;
      text-align: center;
      letter-spacing: 10pt;
      color: var(--blackpink);
      -webkit-text-stroke: #111111 1px;
      text-shadow: 0 0 .5vh white, 0 0 .5vh white, 0 0 .5vh white, 0 0 .5vh white, 0 0 1vh white;
      animation: flicker 7s infinite;
      filter:brightness(1);
      position: relative;
      top: 45vh;
    }

    nav {
      background: var(--primary-color);
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;
      box-sizing: border-box;
      height: 55px;
      


          .limonade {
            display: flex;
            justify-content: space-evenly;
            gap: 24px;
            align-items: center;
            padding: 0px 32px;
            max-height: fit-content;

            h2 {
              font-family: "Poiret One", serif;
              letter-spacing: 1pt;
              font-size: 20pt;
              padding: 0;
              font-weight: bold;
              color: var(--secondary-color);
            }
          }

          .responsive {
            display: none;

            input[type="checkbox"] {
              position: absolute;
              top: 18px;
              right: 24px;
              background: red;
              height: 32px;
              width: 32px;
              cursor: pointer;
              opacity:0;
            }

            label {
                      width: 32px;
                      height: 4px;
                      position: absolute;
                      top: 24px;
                      right: 24px;
                      border-radius: 1px;
                      background: var(--secondary-color);
                      transition: all 0.3s ease;
                      cursor: pointer;
                      /* z-index: 3; */
                  

                  &:before, &:after {
                    content: " ";
                    display: block;
                    position: relative;
                    width: 32px;
                    height: 4px;
                    border-radius: 1px;
                    transition: all 0.7s ease;
                    z-index: 1;
                  }

                  &:before {
                    bottom: 10px;
                    background: var(--secondary-color);
                    transform-origin: left top;
                  }

                  &:after {
                    top: 6px;
                    background: var(--secondary-color);
                    transform-origin: left bottom;
                  }
            }


            #menu-hamburger {
              display: none;

              &:checked {
                &~label::before{
                  transform: rotateZ(40deg);
                }
        
                &~label::after{
                  transform: rotateZ(-40deg);
                }
                &~label {
                  background-color: var(--primary-color);
                  transition: all 0.3s ease;
                }
              }
          }

          }

          .nav-link {
              padding: 0px 24px;
              

              ul {
                display: flex;
                justify-content: space-evenly;
                align-items: center;

                  li a {
                    display: inline-block;
                    color: var(--secondary-color);
                    font-family: "Poiret One", serif;
                    letter-spacing: 1pt;
                    font-size: 14pt;
                    font-weight: bolder;
                    padding: 16px;
                  } 
                }

             

          }          

          img {
            max-width: 30px;
            height: auto;
          }

    }
  }


/* Style de main */
main {
  background: url(./images/bubble_pattern_v3_resize.jpg) repeat fixed;
  padding-top: 32px;
  padding-bottom: 16px;


  /* Style commun à toutes les sections */
    section {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;

        article {
            max-width: 1300px;         
            /* margin-top: 32px; */

            header {
                display: flex;
                align-items: center;

                h2 {
                font-family: "Poiret One", serif;
                color: var(--blackpink);
                letter-spacing: 2pt;
                font-weight: 600;
                margin: 20px;
                text-align: center;


                  &:after {
                    content: "";
                    box-sizing: border-box;
                    display: block;
                    position: relative;

                    top: 20px;
                    left: calc(-20% / 2);
                    background: var(--blackpink);
                    height: 1.5px;
                    width: 120%;
                  }
                }

                img {
                  border-radius: 150%;
                  box-shadow: 2px 2px 0px var(--blackpink);
                  object-fit: cover;

                  background: rgba(231, 231, 231, 0.4);
                }
            }
          
            font-family: "Montserrat", sans-serif;
            font-size: 12pt;


            p {
              padding-bottom : 8px;
              
              /* &:first-of-type {
              } */}
              
            :is(p, h3):first-of-type {
              margin-top: 32px;
            }


              /* &:last-of-type {
                margin-bottom: 45px;
                background: purple;
              } */
            
              #awards {
                
                h3 {
                  font-family: "Poiret One", serif;
                  text-transform: uppercase;
                  color: var(--blackpink);
                  letter-spacing: 2pt;
                  padding: 32px 0px 8px 0px;
                  text-align: center;

                  &:after, &:before {
                    display: inline-block;
                    content: "";
                    position: relative;
                    top: -7px;
                    box-sizing: border-box; 
                    width: 40%;
                    height: 1px;
                    background: var(--blackpink); 
                   
                  }

                  &:before {
                    left: -5%;  
                  }  

                  &:after {
                    right: -5%;
                  }
                }    

                ul {
                  
                  list-style: disc inside;
                  text-align:justify;

                    li {
                      padding: 2px 0px;
                    }
        
                  }
              }

            }
          
        }

      section:first-of-type {
        article {
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          gap: 48px;

          img {
            min-width: 250px;
            height: 250px;
            object-fit: cover;
            border-radius: 100%;
            box-shadow: 2px 2px 8px var(--blackpink);
          }
          .content {
            display: flex;
            flex-flow: column nowrap;
          }
        }
      }
  /*Style des sections paires */
    section:nth-of-type(2n+2) {
          background: linear-gradient(0.45turn, var(--primary-color), var(--lighter-primary-color));
          color: var(--secondary-color);
          box-shadow: 0px 2px 4px var(--blackpink);
    }


    }
/* Fin style de main */

/* Footer */
footer {
  background: var(--lighter-primary-color);
  color: var(--secondary-color);
  font-family: "Poiret One", serif;
  letter-spacing: 1pt;
  font-size: 12pt;
  padding: 24px 32px;

      .planSite {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }

      article {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
      }  

      /* article:first-of-type {
      } */

      .menuFooter {
      }

      .menuBlackpink {
        order: -1;
        font-variant: small-caps;
      }

      h2 {
        padding-bottom: 8px;
      }
      p {
        text-align: center;
        padding-top: 24px;
      }
}
/* Fin footer */


/* Ecran d'ordinateur 1112*/
@media screen and (min-width: 983px) {

  .headerNavbar {
    background: url(./images_blackping/blackpink9.jpg) 50% 20% no-repeat fixed;
    background-size: cover;

      nav {
          .responsive {
            input[type="checkbox"] {
              display: none;
            }

            label {
              display: none;    
            }
          }

          .nav-link {
                ul {
                /* padding: 0px 24px;
                margin-right: 24px; */
                    li a {
                      margin-right: 24px;
                    }
              }
          }
    }
  }

  main {

    section:first-of-type {
      padding-top: 0px;
    }

    section:last-of-type {
      padding-bottom: 0px;
    }
    
                                                                                  /* section:first-of-type {
                                                                                    article {
                                                                                      header {
                                                                                          flex-flow: column nowrap!important;
                                                                                          align-items: center;

                                                                                          img {
                                                                                            width: 300px;
                                                                                            height: 300px;
                                                                                          }
                                                                                      }
                                                                                    }
                                                                                  } */

    section {
      padding: 48px 32px;

      article {
        
        width: 80%;
        padding: 0px 32px;
        header {
          flex-flow: row nowrap;
          justify-content: space-around;

          h2 {
            font-size: 24pt;
          }

          img {
            width: 150px;
            height: 150px;
          }
        }

        #awards {
          column-count: 2;
          column-gap: 32px;
          /* column-rule: 1px solid var(--blackpink); */
          text-align: left;
        }

      }
    }

  

    section:nth-of-type(2n+1) { 
      article {
        header {
          flex-direction: row-reverse;
        }
      }
    }
  }
}
 

/* Ecran de tablette et téléphone 1111px */
@media screen and (max-width: 982px) {

  .headerNavbar {
    background: url(./images_blackping/blackpink2.jpg) 50% 20% no-repeat;
    object-fit: fill;
    height: 100vh;
    box-sizing: border-box;

    h1 {
      font-size: 52pt;
    }

    nav {

      


          .limonade {

            h2 {
            }
          }

          .responsive {
            display: block;
                input[type="checkbox"] {
                  display: block;
                  z-index:1;
                }

                label {
                  display: block;
                  z-index: 2;
                }

                #menu-hamburger {
                  display: block;
              } 
          }

          .nav-link {
                  
                  width: 100%;
                  height: 100vh;
                  position: absolute;
                  backdrop-filter: blur(3px);
                  top: -120vh;
                  left: 0px;
                  z-index: 1;
                  background: rgba(0,0,0,0.7);

                  ul {
                    flex-flow: column nowrap;
                    justify-content: space-evenly;
                    align-items: center;

                    width: 100%;
                    height: 100%;

                    li {
                      font-size: 5em;
                      font-weight: bolder;
                    }
                  

                      li a {
                        color: var(--blackpink);
                        -webkit-text-stroke: #111111 solid 1px;
                      }
                }    
          }

          .mobile-menu {
            margin-right: 0;
            top: 0px;
            right: 0px;
            padding: 0px;
        }

          img {
          }

    }
  }

  main {

    section:first-of-type {
      article {
        display: flex;
        flex-flow: column nowrap;
        gap: 24px;
        }
      }

    section {

      padding: 16px 32px;

      article {
        width: 100%;
        text-align: center;

        header {
          flex-flow: column nowrap;
          justify-content: center;

          h2 {
            font-size: 18pt;
          }

          img {
            max-width: 70px;
            height: 70px;
          }
        }

        #awards {
          column-count: 1;
          column-gap: 32px;
          /* column-rule: 1px solid var(--blackpink); */
          background: green;

          h3 {
            &:after, &:before {
              display: none;
            }
          }
        }
        
      }
    }
  }
}
  
/* Navbar responsive */
@media screen and (max-width: 982px) {}
/* Fin NavBar */

/* Footer */

/* Fin footer */