* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style-type: none;
}

:root {
    --primary-color: #111111;
    --secondary-color : #D8D8D8;
    --lighter-primary-color: #212121;
    --blackpink : #EFA7B5;
    --euromillions : #EEBB05;
    --argentina : #6CACE4;
}

p {
    font-family: "Montserrat", sans-serif;
}

h1, h2 {
    font-family: "Poiret One", serif;
    letter-spacing: 1pt;
    font-size: 16pt;
    font-weight: bold;
    list-style: none;
}

section:nth-of-type(2n+2) {
    color: var(--secondary-color);
    background: linear-gradient(0.5turn, var(--primary-color), var(--lighter-primary-color));
    z-index: -2;
}

section:nth-of-type(2n+2) p {
    color: var(--secondary-color);
}

article {
    width: calc(100vw- 64px);
    margin: 16px 32px 16px 32px;
}

article img {
    width: 200px;
    height: 200px;
    border-radius: 200px;
    margin: 30px;
    position: relative;
    z-index: 1;
  
}

.bordure-decalee {
    display: inline-block;
    position: relative;
  }
  
.bordure-decalee:after {   
    content: "";
    border-radius: 200px;
    box-sizing: border-box;
    display: block;
    position: absolute;
    height: 200px;
    width: 200px;
    top: 40px;
    left: 45px;
    z-index: 0;
  }

  #blackpink .bordure-decalee:after {
    border: 3px dashed var(--blackpink);
  }

  #euro .bordure-decalee:after {
    border: 3px dashed var(--euromillions);
  }

  #Scaloneta .bordure-decalee:after {
    border: 3px dashed var(--argentina);
  }

footer {
    background: var(--lighter-primary-color);
}



  